@import "main";

ul {
  list-style: none;
}

section {
  min-width: to-rem(500px);
  max-width: 100%;
  max-height: 90vh;
  overflow: auto;
}

.url {
  color: $app-color-poke-light-blue;

  &:hover {
    color: $app-color-poke-dark-blue;
  }

  &.is-seen {
    color: $app-color-poke-dark-yellow;

    &:hover {
      color: $app-color-poke-yellow;
    }
  }
}

.close-button {
  color: $app-color-grey;
}

@media (max-width: $app-max-width-medium-screen) {
  section {
    min-width: 100%;
  }
}
