$app-color-light-grey: #e6e6e6;
$app-color-dark-grey: #2f2f2f;
$app-color-grey: #a9a9a9;
$app-border: 1px solid $app-color-light-grey;
$app-color-poke-dark-blue: #3c5aa6;
$app-color-poke-light-blue: #2a75bb;
$app-color-poke-yellow: #ffcb05;
$app-color-poke-dark-yellow: #c7a008;

$app-max-width-medium-screen: 991px;
